<ion-view view-title="{{ 'TITLE' | translate }}">
    <ion-content>
        <button class="button button-block button-dark" id="addNewResult" ng-click="vm.addNewResult()">
            Add new result
        </button>

        <div class="container">
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="item item-divider">
                  <span class="card-title">{{vm.game.players[0].name}} </span>
                </div>
                <div class="item item-text-wrap">
                  {{vm.game.players[0].totalPoints}}
                </div>
                <div class="item item-divider tabs-icon-center">
                  <a class="tab-item" href="#" ng-click="vm.fetchPlayerStatistics(vm.game.players[0].id)">
                    <i class="icon ion-arrow-graph-up-right"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="item item-divider">
                  <span class="card-title">{{vm.game.players[1].name}} </span>
                </div>
                <div class="item item-text-wrap">
                  {{vm.game.players[1].totalPoints}}
                </div>
                <div class="item item-divider tabs-icon-center">
                  <a class="tab-item" href="#" ng-click="vm.fetchPlayerStatistics(vm.game.players[1].id)">
                    <i class="icon ion-arrow-graph-up-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="item item-divider">
                  <span class="card-title">{{vm.game.players[2].name}} </span>
                </div>
                <div class="item item-text-wrap">
                  {{vm.game.players[2].totalPoints}}
                </div>
                <div class="item item-divider tabs-icon-center">
                  <a class="tab-item" href="#" ng-click="vm.fetchPlayerStatistics(vm.game.players[2].id)">
                    <i class="icon ion-arrow-graph-up-right"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="item item-divider">
                  <span class="card-title">{{vm.game.players[3].name}} </span>
                </div>
                <div class="item item-text-wrap">
                  {{vm.game.players[3].totalPoints}}
                </div>
                <div class="item item-divider tabs-icon-center">
                  <a class="tab-item" href="#" ng-click="vm.fetchPlayerStatistics(vm.game.players[3].id)">
                    <i class="icon ion-arrow-graph-up-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>












<!-- This will have to be deleted if the above code works -->
<!--
          <form name="standingForm">
                <div class="list card" ng-repeat="player in vm.game.players">
                  <div class="item item-avatar">
                    <img src="images/ionic.png">
                    <input class="card-title" type="text" name="input" ng-model="player.name"
                           placeholder="Add name" required="required">
                    <span class="card-title">Points: {{player.totalPoints}}</span>
                  </div>

                  <div class="item item-body">
                    <p ng-click="vm.fetchPlayerStatistics(player.id)">
                      <a href="#">Player stats</a>
                    </p>
                  </div>
                </div>
            </form>
-->
        </div>


    </ion-content>
</ion-view>
